@section AddToHead{
    <link href="@Url.Content("~/Content/tiendas.css")" rel="stylesheet" type="text/css" />

    @model Tienda.Models.ViewModel
}

@{
    ViewBag.Title = "Tiendas";
}

<main>
    <section class="tiendas">
        <article>
            <a href="#">
                <img src="/Content/img/popper-ushuaia-1.jpg" alt="">
                <h4>Av. San Martin 740, Ushuaia</h4>
            </a>
        </article>

        <article>
            <a href="#">
                <img src="/Content/img/popper-ushuaia-2.jpg" alt="">
                <h4>Av. San Martin 1237, Ushuaia</h4>
            </a>
        </article>

        <article>
            <a href="#">
                <img src="/Content/img/popper-ushuaia-3.jpg" alt="">
                <h4>Perito Moreno 307, Ushuaia</h4>
            </a>
        </article>

        <article>
            <a href="#">
                <img src="/Content/img/popper-ushuaia-4.jpg" alt="">
                <h4>Ruta 3 Km 26, Cerro Castor - Ushuaia</h4>
            </a>
        </article>

        <article>
            <a href="#">
                <img src="/Content/img/popper-riogrande-1.jpg" alt="">
                <h4>Av.San Martin 361, Rio Grande</h4>
            </a>
        </article>

        <article>
            <a href="#">
                <img src="/Content/img/popper-riogrande-2.jpg" alt="">
                <h4>Av. San Martin 301, Rio Grande</h4>
            </a>
        </article>
    </section>
</main>

