<footer>
    <section>
        <article class="info-tienda">
            <h4>Información de la Tienda</h4>
            <p>
                Popper es una empresa familiar dedicada a la comercialización de productos deportivos
                y outdoor que nace en 1977. Pionera en la isla en proveer equipamiento de deportes y actividades
                vinculadas a la naturaleza y al aire libre.
            </p>
        </article>

        <article class="redes-sociales">
            <h4>Redes Sociales</h4>
            <a href="#"><span class="icon-facebook"></span></a>
            <a href="#"><span class="icon-instagram"></span></a>
            <a href="#"><span class="icon-envelop"></span></a>
        </article>

        <article class="info-contact">
            <h4>Contáctenos</h4>
            <p>(0294)444-6452</p>
            <p>Av. San Martin 361</p>
            <a href="mailto:solciiz.hu@prueba.com">info@popper.com.ar</a>
        </article>

        <article class="copyright">
            <p>&copy; Copyright Popper - @DateTime.Now.Year Todos los Derechos Reservados </p>
        </article>
    </section>
</footer>
