<header>
    <div class="container">
        <img src="/Content/img/popper-store.png" alt="Popper Store logo" class="nav-brand">
        <ul>
            <li><a href="#">Crear Cuenta</a></li>
            <li><a href="#">Iniciar Sesión</a></li>
            <li><a href="#"><span class="icon-cart"></span></a></li>
        </ul>
    </div>

    <nav class="nav-p">
        <ul class="nav-menu">
            <li>@Html.ActionLink("Inicio", "Index", "Inicio")</li>
            <li>@Html.ActionLink("Tiendas", "Index", "Tiendas")</li>
            <li>@Html.ActionLink("Contacto", "Index", "Contacto")</li>
        </ul>
    </nav>
</header>

